body {
    background:#f1f5f8;
}

.title {
    font-size:30px;
    text-align:center;
}

.header {
    display:flex;
    justify-content:center;
}

.button {
    border:5px solid #c59d5f;
    border-radius:5px;
    color:#c59d5f;
    padding:10px;
    margin:0 50px;
}

.catalog-row {
    display:flex;
    justify-content:center;
}

.item {
    display:flex;
    margin:25px 50px;
    max-width:600px;
}

.item-image {
    margin-right:10px;
}

.item-image img {
    width:250px;
    height:auto;
    border:5px solid #c59d5f;
    border-radius:5px;
}

.item-nameprice {
    display:flex;
}

.item-name {
    margin-right:20px;
    font-weight:bold;
}

.item-price {
    margin-left:20px;
    color:#c59d5f;
}

.item-description {
    margin-top:20px;
    color:#9f92a6;
}

.reviewer-image {
    display:flex;
    justify-content:center;
}

.reviewer-image img {
    width:1800px;
    height:auto;
}

.reviewer-name {
    display:flex;
    justify-content:center;
    font-weight:bold;
    letter-spacing:2px;
    margin-bottom:10px;
}

.reviewer-occupation {
    display:flex;
    justify-content:center;
    color:#9f92a6;
    margin-bottom:10px;
}

.review-text {
    display:flex;
    justify-content:center;
    color:#9f92a6;
    margin-top:20px;
    margin-bottom:20px;
}

.prev-next-review {
    display:flex;
    justify-content:center;
    gap:5px;
    margin-bottom:5px;
}

.random-review {
    display:flex;
    justify-content:center;
}