header {
    background-color:#1c214f;
    display:flex;
    justify-content:space-between;
    padding-top:100px;
}

.info-buttons, .external-links {
    display:flex;
}

header .button {
    background-color:black;
    width:200px;
    height:100px;
    font-size:50px;
    color:#abb1ed;
    text-align:center;
    margin:20px 20px;
}

header .icon-button {
    background-color:black;
    height:100px;
    width:100px;
    font-size:50px;
    color:#abb1ed;
    text-align:center;
    margin:20px 20px;
}

.button, .icon-button {
    display:flex;
    justify-content:center;
    align-items:center;
}

header .button, header .icon-button {
    border-radius:50px;
}

body {
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../img/background-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    margin:0;
    padding:0;
}

.profile {
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-top:100px;
}

.profile-picture img {
    width:350px;
    height:auto;
    border-radius:175px;
}

.profile-text {
    align-content:center;
    padding-top:100px;
    width:min-content;
}

.name {
    font-size:100px;
    font-weight:bold;
    text-align:center;
    color:#abb1ed;
}

.slogan {
    font-size:50px;
    text-align:center;
    color:#abb1ed;
}

.latest-projects {
    margin-top:40px;
    background-color:#1c214f;
    font-size:40px;
    font-weight:bold;
    color:#abb1ed;
    text-align:center;
    text-decoration:none;
    padding:30px;
    border-radius:20px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}